:root {
    // Colors
    --primary-color: #5eceb3;
    --secondary-color: #5f90e3;
    --text-color: #818787;
    --home-page-bg: #f3f3f3;
    --white: #fff;

    // Header
    --site-header-height: 78px;
}
